<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Insert title here</title>
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Papelería</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" th:href="@{/listar}">Usuarios</a>
      <a class="nav-item nav-link" th:href="@{/listarClientes}">Clientes</a>
      <a class="nav-item nav-link" th:href="@{/listarProductos}">Productos</a>
      <a class="nav-item nav-link" th:href="@{/listarProveedores}">Proveedores</a>
    </div>
  </div>
</nav>
		<div class="container mt=4">
			<div class="col-sm-6">
				<form th:action="@{/saveCliente}" th:object=${cliente} method="POST">
				<div class="card">
					<div class="card-header"></div>
					<h2>Modulo Clientes</h2>
					<div class="card-body">
						<div class="form-group">
							<label>CEDULA</label>
							<input th:field="*{Cedula}" type="text" class="form-control" />
						</div>
						<div class="form-group">
							<label>NOMBRE</label>
							<input th:field="*{Nombre}" type="text" class="form-control" />
						</div>
						<div class="form-group">
							<label>CORREO</label>
							<input th:field="*{Correo}" type="text" class="form-control" />
						</div>
						<div class="form-group">
							<label>DIRECCION</label>
							<input th:field="*{Direccion}" type="text" class="form-control" />
						</div>
						<div class="form-group">
							<label>TELEFONO</label>
							<input th:field="*{Telefono}" type="text" class="form-control" />
						</div>
					</div>
					<div class="card-footer">
						<input type="submit" value="Guardar" class="btn btn-success">
					</div>
				</div>
			</form>
			</div>
		</div>
</body>
</html>