<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Formulario Usuarios</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body>

	<div class="container mt-4">
		<div class="col.sm-6">
			<form action="@{/save}" Method="POST"></form>
			<div class="card">
				<div class="card-header">
					<h2>Formulario de Usuarios</h2>
				</div>
				<div class="card-body">
					<div class="form-group">
						<label>Cédula: </label> <input th:field="*{Cedula}" type="text"
							class="form-control" />
					</div>
					<div class="form-group">
						<label>Nombre: </label> <input th:field="*{Nombre}" type="text"
							class="form-control" />
					</div>
					<div class="form-group">
						<label>Correo: </label> <input th:field="*{Correo}" type="text"
							class="form-control" />
					</div>
					<div class="form-group">
						<label>Usuario: </label> <input th:field="*{Usuario}" type="text"
							class="form-control" />
					</div>
					<div class="form-group">
						<label>Password: </label> <input th:field="*{Clave}" type="text"
							class="form-control" />
					</div>
				</div>
				<div class="card-footer">
					<input type="submit" value="Guardar" class="btn btn-success">
				</div>
			</div>
		</div>
	</div>

</body>
</html>